* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    color: #333;
    overflow-y: hidden;
    line-height: 1.4;
}



.page-wrapper {
    display: flex;
    width: 100%;
}

.page-bg {
    flex: 4;
    background: url(https://res.cloudinary.com/petrepan/image/upload/v1574989334/illustration_rv7ibn.png) center/cover no-repeat;
    width: 100%;
    height: 100vh;
}

.logo {
    width: 80%;
    margin: 2rem auto;
    color: #070762;
    height: 100%;
}

.logo a {
    padding: 1rem 0;
}

.text {
    display: flex;
    align-items: center;
    
    height: 40%;
}

.logo .text {
    margin-top: .5rem;
    font-weight: bold;
}

.sign-up-wrapper {
    flex: 6;
    width: 100%;
    height: 100vh;
}

.sign-up-container {
    width: 60%;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.sign-in-link {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.main-section {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 3rem;
}

.heading {
    align-self: flex-start;
    margin: 1rem 0;
    font-weight: bolder;
}

.google {
    width: 100%;
    text-align: center;
}

.google a {
    color: #f9f9f9;
    background-color: #070762;
    border-radius: 4px;
    display: block;
    padding: .7rem 1rem;
    text-decoration: none;
}

.or {
    color: #333;
    margin: 1.7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}
 hr {
    width: 100%;
    outline: none;
 }

 .or span {
     margin: 0 1rem;
 }

.form-wrapper {
    width: 100%;
}

 .form-container {
     display: flex;
     flex-direction: column;
     width: 100%;
 }

 .form-container label {
     margin-bottom: .2rem;
     font-weight: bold;
 }

 input[type=text], input[type=password], input[type=email] {
     line-height: 1.7;
     padding: .4rem;
     margin-bottom: 1.3rem;
     background-color: #eee;
     outline: none;
     border: none;
     box-shadow: 0px 0px 5px #333;
     border-radius: 3px;
     font-size: 1rem;
 }

 .user-username {
     display: flex;
     width: 100%;
 }

 .user {
     display: flex;
     flex-direction: column;
     width: 100%;
     margin-right: 1.5rem;
 }

 .username {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tc {
    margin-bottom: 1rem;
}

input[type=checkbox] {
    margin-right: .2rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    
}

.button {
    width: 100%;
}

button {
    line-height: 1.7;
    width: 50%;
    padding: .5rem;
    background-color: pink;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    color: #333;
    font-size: 1rem;
}

.note {
    margin: 3rem 0;
}

@media (max-width:1200px) {
   .user-username {
       flex-direction: column;
   }

   .page-bg {
        flex: 4;
   }

   .sign-up-wrapper {
    flex: 4.5;
    margin-top: 1rem;
   }

   .main-section {
    margin-top: 0;
}

.heading {
    font-size: .9rem;
}
}

@media (max-width:980px) {
    body{
        overflow: auto;
    }
    
    .page-bg {
        display: none;
    }

    button {
        line-height: 1.7;
        width: 100%;
    }

    label {
        font-size: 1rem;
    }

    input[type=text], input[type=password], input[type=email] {
        line-height: 1.4;
    }

    .main-section {
        margin-top: 0;
    }

    .heading {
        font-size: .9rem;
    }
    
}



